.nav-box{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black;
  height: 40px;
  width: 175px;
  border-radius: 20px;
  position: relative;
  border-width: 1px ;
  border-color: #D5D7DB;
}

input{
  display: flex;
  text-align: center;
  position: absolute;
  cursor: pointer;
  border: 0;
  outline: none;
}

.search{
  height: auto;
  width: 20px;
  z-index: 1;
  margin-right: 120px;
}