.navlist {
  height: 100px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
}
#nav {
  height: 40px;
  width: 100%;
  background-image: backgroundimage.png;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}
#input {
}
