@import url("https://fonts.googleapis.com/css?family=Odibee+Sans|Open+Sans|Roboto|Sriracha|Trade+Winds|Akronim|Lacquer|Shadows+Into+Light|Dancing+Script|Amatic+SC|Bangers|Permanent+Marker&display=swap");

.container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.container2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.roboto {
  font-family: "Roboto";
}

.openSans {
  font-family: "Open Sans";
}

.odibeeSans {
  font-family: "Odibee Sans";
}
.sriracha {
  font-family: "Sriracha";
}
.tradeWinds {
  font-family: "Trade Winds";
}
.akronim {
  font-family: "Akronim";
}
.lacquer {
  font-family: "Lacquer";
}
.shadowsIntoLight {
  font-family: "Shadows Into Light";
}
.dancingScript {
  font-family: "Dancing Script";
}
.amaticSC {
  font-family: "Amatic SC";
}
.bangers {
  font-family: "Bangers";
}
.permanentMarker {
  font-family: "Permanent Marker";
}
